body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    font-size: 36px; /* Ajusta el tamaño del título */
    margin-bottom: 20px; /* Añade espacio debajo del título */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px; /* Añade espacio entre los elementos del menú */
}

nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento del menú */
}

nav ul li a {
    text-decoration: none;
    color: #000; /* Color del texto del enlace */
    font-size: 18px; /* Tamaño del texto del enlace */
    transition: color 0.3s; /* Agrega una transición suave al cambiar el color del texto */
}

nav ul li a:hover {
    color: #006600; /* Cambia el color del texto al pasar el cursor sobre el enlace */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

form {
    background-color: #fff;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #008cba;
    display: block;
    text-align: right;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
}

#lista-registros {
    display: flex;
    flex-wrap: wrap;
}

.registro-item {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registro-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
